@model EcommerceWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<style>
    hr {
        display: none;
    }

    .btn-default {
        background-color: #ffbe33;
        border-radius: 15px;
        color: black;
        border: none;
    }

        .btn-default:hover {
            color: white;
            background-color: #ffbe33;
        }

    a {
        color: black
    }

        a:hover {
            text-decoration: none;
            color: gray
        }

    .form-control {
        width: 300px;
        height: 40px;
    }

    #right {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    #left {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .form-horizontal {
        padding-left: 10px;
        padding-top: 20px
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    .control-label {
        display: inherit;
    }

    .col-md-6 {
        justify-content: center;
        display: flex;
    }

    #btn-link {
        text-align: center;
        margin-top: 35px;
        display: block;
    }

        #btn-link::before {
            content: ' ';
            display: block;
            border-top: 1px groove #f5f5f5;
            width: 220px;
            height: 10px;
            margin: auto;
        }
</style>
<div class="container-fluid" style="padding-top: 50px; background-color: #212529">
    <div class="row">
        <div class="col-md-6">
            <img src="~/image/about-img.png" style="height: 500px" />
        </div>
        <div id="right" class="col-md-6" style="height: 500px; background-color: #FFFD7E; border-radius:15px 0 0 15px;">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" }) 
                <h1 class="text-center text-font">Đăng kí</h1>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, "Mật khẩu", new { @class = "col-md-4  control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, "Xác nhận mật khẩu", new { @class = "col-md-8 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-default" value="Đăng kí" />
                    </div>
                </div>
            }
        </div>
    </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
