<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JANKY FOOD</title>
    <link rel="icon" href="~/image/LogoJanky.png" type="image/icon type">
    <link href="~/Content/font-awesome/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .navbar-brand {
            color: black;
            margin-top: 20px;
        }

            .navbar-brand:hover {
                color: black;
            }

        .homeNav:hover {
            color: #1998E8;
        }

        .newArrivalsNav:hover {
            color: #1998E8;
        }

        .infoNav:hover {
            color: #1998E8;
        }

        .navbar-fixed-top {
            background-color: #FFF9C4;
            border-bottom-color: #FFF9C4;
        }

        .text-white {
            color: white;
        }

        .btn:hover {
            color: #1998E8;
        }

        .btn {
            color: white
        }

        .text-uppercase {
            margin-bottom: 40px
        }

        li {
            margin: 20px 0;
        }

        .text-white:hover {
            text-decoration: none;
            color: white;
        }

        .text-white {
            color: lightgray
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            border-radius: 50%;
        }

        .dropdown:hover .dropdown-menu-dark {
            display: block;
        }
        .homeNav {
            margin: 20px;
            display: block;
        }
    </style>

</head>
<body style="padding-bottom: 0">
    <button onclick="topFunction()" id="myBtn" title="GO TO TOP" style="width: 30px; height: 30px; border-radius: 100%; background-color:#ffbe33"><i class="fa-solid fa-angle-up" style="color:black"></i></button>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("ARON", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="homeNav" href="/Admin/Index"><img style="height: 50px" src="~/image/JankyFood.png" /></a>
            </div>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown" style="padding: 0px">
                        <a href="javascript:document.getElementById('logoutForm').submit()" style="color: #6E131C; font-size: 20px">Đăng xuất</a>
                    </li>
                </ul>
            }
        </div>

    </div>
    @RenderBody()
    <hr />

    <!-- Footer -->
    <footer class="bg-dark text-center text-white" id="info" style="background-color: #262626; color: white">
        <!-- Grid container -->
        <div class="container p-4" style="margin-bottom: 30px">
            <!-- Section: Social media -->
            <section class="mb-4" style="margin: 30px">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://vi-vn.facebook.com/" role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://google.com/" role="button">
                    <i class="fab fa-google"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button">
                    <i class="fab fa-instagram"></i>
                </a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" role="button">
                    <i class="fab fa-github"></i>
                </a>
            </section>
            <section class="mb-4">
                <p style="font-size: 20px; margin: 30px">
                    Chào mừng bạn đến với Janky Food
                </p>
            </section>
            <!-- Section: Text -->
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="text-align: center">
                        <h5 class="text-uppercase">DỊCH VỤ ĐỘC QUYỀN</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Dịch vụ JANKY FOOD</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Đặt lịch</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="text-align: center">
                        <h5 class="text-uppercase">BẠN CẦN TRỢ GIÚP?</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Liên hệ chúng tôi</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Dịch vụ giao hàng</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Phương thức thanh toán</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Đổi trả & Hoàn tiền</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="text-align: center">
                        <h5 class="text-uppercase">CÔNG TY</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Về JANKY FOOD</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Hợp pháp</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Quyền riêng tư & Cookies</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Thông tin doanh nghiệp</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="text-align: center">
                        <h5 class="text-uppercase">BẠN CÓ THỂ XEM THÊM TẠI</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Facebook</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Youtube</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Instagram</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Twitter</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #FFF9C4; padding: 20px 0">
            <p style="display:inline-block; color:#6E131C"> © 2020 Copyright:</p>
            <a class="text-white" style="color:#6E131C" href="#">JankyFood.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
